    table{
      border: 1px solid black;
      table-layout: fixed;
      border-collapse: collapse;
      width: 70%;
    }
    th,td{
      border: 1px solid black;
      border-collapse: collapse;
    }


    a{
      color:blue;
      text-decoration: none;
    }
    a:hover{
      color: black;
      font-size: 15px;
      text-decoration: underline;
    }

