html{
  font-family: "Arial", sans-serif;  
  font-size: 1rem;
  color:black;
}

a {
    color: blue;
    text-decoration: underline; 
}

a:hover {
    color: green;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: 300;
}
a:visited {
    color: darkmagenta;
}
body {
    margin: 8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: bisque ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
  border: solid;
  background-color: greenyellow;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
}

button:hover {
  background-color: #008cba;
  color: white;
}

footer {
  bottom:0;
  left:0;
  width:100%;
  height: 40px;
}


th {
  padding: 5px;
  border: 2px solid;
  background-color: rgb(255,255,0);
  border-color: red;
  text-align: center;
}

td {
  padding: 5px;
  border: 2px solid;
  background-color: aquamarine;
  border-color: red;
  text-align: center;
}

table {
  border-collapse: collapse;
}
